/* <!-- 使用Bulma，添加Bulma CSS框架 --> */

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css";

/* <!-- 使用mapbox-gl框架 --> */

@import "https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css";
.echartcanvas {
    width: 600px;
    height: 400px;
}


/* <!-- 使用mapbox-gl框架中地图列表名称显示的css --> */

.legend {
    background-color: #fff;
    border-radius: 3px;
    bottom: 350px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: absolute;
    right: 700px;
    z-index: 1;
}

.legend h4 {
    margin: 0 0 10px;
}

.legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}


/* <!-- 使用mapbox-gl框架中地图列表名称显示的css --> */