<div class="columns">
    <div class="column is-three-fifths">
        <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
        <!-- <div id="map-wrap" style="height:600px;"></div> -->
        <div id="map" style="height: 550px;width: 500;"></div>
        <div id="state-legend" class="legend">
            <h4>Town Name</h4>
            <div><span style="background-color: #723122"></span>QuShi</div>
            <div><span style="background-color: #8b4225"></span>HeShun</div>
            <div><span style="background-color: #a25626"></span>WuHe</div>
            <div><span style="background-color: #b86b25"></span>XinHua</div>
            <div><span style="background-color: #ca8323"></span>JieTou</div>
            <div><span style="background-color: #da9c20"></span>MaZhan</div>
            <div><span style="background-color: #e6b71e"></span>HeHua</div>
            <div><span style="background-color: #eed322"></span>MangBang</div>
            <div><span style="background-color: #f2f12d"></span>TuanTian</div>
            <div><span style="background-color: #723122"></span>QingShui</div>
            <div><span style="background-color: #8b4225"></span>BeiHai</div>
            <!-- // arcmap中的名字通过转化后名字发生了变了PuChan变成了PuChan -->
            <div><span style="background-color: #a25626"></span>PuChuan</div>
            <div><span style="background-color: #b86b25"></span>GuDong</div>
            <div><span style="background-color: #ca8323"></span>ZhongHe</div>
            <div><span style="background-color: #da9c20"></span>TengYue</div>
            <div><span style="background-color: #e6b71e"></span>DianTan</div>
            <div><span style="background-color: #eed322"></span>MingGuang</div>
            <div><span style="background-color: #f2f12d"></span>HouQiao</div>
        </div>

        <div id="county-legend" class="legend" style="display: none">
            <h4>Town Name</h4>
            <div><span style="background-color: #723122"></span>QuShi</div>
            <div><span style="background-color: #8b4225"></span>HeShun</div>
            <div><span style="background-color: #a25626"></span>WuHe</div>
            <div><span style="background-color: #b86b25"></span>XinHua</div>
            <div><span style="background-color: #ca8323"></span>JieTou</div>
            <div><span style="background-color: #da9c20"></span>MaZhan</div>
            <div><span style="background-color: #e6b71e"></span>HeHua</div>
            <div><span style="background-color: #eed322"></span>MangBang</div>
            <div><span style="background-color: #f2f12d"></span>TuanTian</div>
            <div><span style="background-color: #723122"></span>QingShui</div>
            <div><span style="background-color: #8b4225"></span>BeiHai</div>
            <div><span style="background-color: #a25626"></span>PuChan</div>
            <div><span style="background-color: #b86b25"></span>GuDong</div>
            <div><span style="background-color: #ca8323"></span>ZhongHe</div>
            <div><span style="background-color: #da9c20"></span>TengYue</div>
            <div><span style="background-color: #e6b71e"></span>DianTan</div>
            <div><span style="background-color: #eed322"></span>MingGuang</div>
            <div><span style="background-color: #f2f12d"></span>HouQiao</div>
        </div>
        <div id="zuoxiajiao" style="height: 220px;width: 500;"></div>
    </div>
    <div class="column">

        <div id="youshangjiao" style="height: 150px;width: 200;"></div>
        <div id="youzhongjian" style="height: 300px;width: 200;"></div>
        <div id="youxiajiao" style="height: 330px;width: 200;"></div>
        <!-- <div id="thematicMapDiv" class="echartcanvas"></div> -->


    </div>
</div>

<div>点击按钮获取JSON数据---case_num_mon</div>
<input type="button" id="case_num_mon" value="确定" />
<button id="case_num_mon_hide">隐藏</button>
<button id="case_num_mon_show">显示</button>
<div id="case_num_mon_result"></div>

<div>点击按钮获取JSON数据---mobility</div>
<input type="button" id="mobility" value="确定" />
<button id="mobility_hide">隐藏</button>
<button id="mobility_show">显示</button>
<div id="mobility_result"></div>

<div>点击按钮获取JSON数据---soc_eco_rela</div>
<input type="button" id="soc_eco_rela" value="确定" />
<button id="soc_eco_rela_hide">隐藏</button>
<button id="soc_eco_rela_show">显示</button>
<div id="soc_eco_rela_result"></div>


<div>点击按钮获取JSON数据---tengchong</div>
<input type="button" id="tengchong" value="确定" />
<button id="tengchong_hide">隐藏</button>
<button id="tengchong_show">显示</button>
<div id="tengchong_result"></div>

<!-- <div id="map-wrap2" class="echartcanvas"></div>
<div id="map-wrap3" class="echartcanvas"></div>
<div id="map-wrap4" class="echartcanvas"></div> -->

<!-- <div id="zuoshangjiao" class="echartcanvas"></div> -->

<!-- <div id="map-wrap5" class="echartcanvas"></div> -->



<!-- 使用自定义css，引入myvisual.css -->
<link rel="stylesheet" type="text/css" href="css/myvisual.css">
<!-- 使用自定义js，引入myvisual.js -->
<script src="js/myvisual.js" type="text/javascript" charset="utf-8"></script>

<script src="https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.css" rel="stylesheet" />