<div class="columns">
    <div class="column is-three-fifths">
        <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
        <div id="zuoshangjiao" class="echartcanvas"></div>
        <div id="zuoxiajiao" class="echartcanvas"></div>
    </div>
    <div class="column">

        <div id="youshangjiao" class="echartcanvas"></div>
        <div id="youzhongjian" class="echartcanvas"></div>
        <div id="youxiajiao" class="echartcanvas"></div>

    </div>
</div>

<div>点击按钮获取JSON数据---case_num_mon</div>
<input type="button" id="case_num_mon" value="确定" />
<button id="case_num_mon_hide">隐藏</button>
<button id="case_num_mon_show">显示</button>
<div id="case_num_mon_result"></div>

<div>点击按钮获取JSON数据---mobility</div>
<input type="button" id="mobility" value="确定" />
<button id="mobility_hide">隐藏</button>
<button id="mobility_show">显示</button>
<div id="mobility_result"></div>

<div>点击按钮获取JSON数据---soc_eco_rela</div>
<input type="button" id="soc_eco_rela" value="确定" />
<button id="soc_eco_rela_hide">隐藏</button>
<button id="soc_eco_rela_show">显示</button>
<div id="soc_eco_rela_result"></div>


<div>点击按钮获取JSON数据---tengchong</div>
<input type="button" id="tengchong" value="确定" />
<button id="tengchong_hide">隐藏</button>
<button id="tengchong_show">显示</button>
<div id="tengchong_result"></div>


<div id="map-wrap" class="echartcanvas"></div>

<div id="map-wrap2" class="echartcanvas"></div>
<div id="map-wrap3" class="echartcanvas"></div>

<div id="map-wrap4" class="echartcanvas"></div>

<!-- 使用自定义css，引入myvisual.css -->
<link rel="stylesheet" type="text/css" href="css/myvisual.css">
<!-- 使用自定义js，引入myvisual.js -->
<script src="js/myvisual.js" type="text/javascript" charset="utf-8"></script>


<!-- 方法1 -->
<script>
    var mapChart;
    var option;
    //use json file to make map layer
    $.get('json/beijing.json', function(beijingJson) {
        echarts.registerMap('北京', beijingJson);
        mapChart = echarts.init(document.getElementById('map-wrap'));
        option = {
            title: {
                text: '通州区各镇人口密度图',
                left: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: '{b}<br/>{c} (个)'
            },
            toolbox: {
                show: true,
                orient: 'vertical',
                left: 'right',
                top: 'left',
                feature: {
                    dataView: {
                        readOnly: false
                    },
                    restore: {},
                    saveAsImage: {}
                }
            },
            visualMap: {
                min: 0,
                max: 2000,
                text: ['高', '低'],
                realtime: false,
                calculable: true,
                inRange: {
                    color: ['lightskyblue', 'yellow', 'orangered']
                }
            },
            series: [{
                name: '通州区各镇',
                type: 'map',
                map: '北京', // 自定义扩展图表类型
                aspectScale: 1.0, //长宽比. default: 0.75
                zoom: 1.1,
                roam: true,
                itemStyle: {
                    normal: {
                        label: {
                            show: true
                        }
                    },
                    emphasis: {
                        label: {
                            show: true
                        }
                    }
                },
                data: [] //需要动态加载data内容
            }]
        }
        mapChart.setOption(option);
    });
</script>


<!-- 方法2 -->
<script>
    $.getJSON("json/heilongjiang.json", function(data) {
        echarts.registerMap('heilj', data);
        //定义div#map，给定width和height
        chart = echarts.init(document.getElementById('map-wrap2'));
        chart.setOption({
            title: {
                text: 'title',
            },
            toolbox: {
                show: true,
                orient: 'vertical',
                left: 'right',
                top: 'center',
                feature: {
                    saveAsImage: {
                        backgroundColor: '#fff',
                        excludeComponents: ['toolbox']
                    }
                }
            },
            visualMap: {
                type: 'piecewise',
                show: false, //图例
                pieces: [{
                    value: 1,
                    color: '#ff0000',
                    label: '红色'
                }, {
                    value: 2,
                    color: '#FF8330',
                    label: '橙色'
                }],
                right: 0,
                bottom: 0,
                align: 'left',
                padding: [30, 10, 10, 10], //上、右、下、左
                borderWidth: 1,
                borderColor: '#000',
                itemGap: 5,
                itemSymbol: 'rect',
                itemWidth: 30,
                itemHeight: 20,
                inverse: true
            },
            series: [{
                selectedMode: false,
                silent: true,
                type: 'map',
                roam: true,
                label: {
                    normal: {
                        show: true,
                        formatter: '{c}', //显示数值在地图上
                        textStyle: {
                            color: '#f00',
                            fontWeight: "bold"
                        }
                    }
                },
                data: [{
                        name: "漠河县",
                        value: 3
                    }] //这个需要程序处理
            }]
        });
    })
</script>


<!-- 方法3 -->
<script type="text/javascript">
    $(function() {

        var mapChart;
        var option;

        $.get('json/heilongjiang.json', function(beijingJson) {
            echarts.registerMap('北京', beijingJson);
            mapChart = echarts.init(document.getElementById('map-wrap3'));
            option = {
                title: {
                    text: '北京市通州区各镇分布图',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{b}<br/>{c} (个)'
                },
                toolbox: {
                    show: true,
                    orient: 'vertical',
                    left: 'right',
                    top: 'center',
                    feature: {
                        dataView: {
                            readOnly: false
                        },
                        restore: {},
                        saveAsImage: {}
                    }
                },
                visualMap: {
                    min: 0,
                    max: 2000,
                    text: ['高', '低'],
                    realtime: false,
                    calculable: true,
                    inRange: {
                        color: ['lightskyblue', 'yellow', 'orangered']
                    }
                },
                series: [{
                    name: '通州区各镇安装机井统计图',
                    type: 'map',
                    map: '北京', // 自定义扩展图表类型
                    aspectScale: 1.0, //地图长宽比. default: 0.75
                    zoom: 1.1, //控制地图的zoom，动手自己更改下 看看什么效果吧
                    roam: true,
                    itemStyle: {
                        normal: {
                            label: {
                                show: true
                            }
                        },
                        emphasis: {
                            label: {
                                show: true
                            }
                        }
                    }
                }]
            }
            mapChart.setOption(option);

        });


    })
</script>


<!-- 方法4 -->
<script>
    $.getJSON("json/yunnan.json", function(data) {
        echarts.registerMap('xiamen', data);
        //定义div#map，给定width和height
        chart = echarts.init(document.getElementById('map-wrap4'));
        chart.setOption({
            series: [{
                name: 'xiamen',
                type: 'map',
                map: 'xiamen',
            }]
        });
    })
</script>